---
import Layout from "../layouts/Layout.astro";

import "@/styles/global.css";
import Hero from "@/components/index/Hero.astro";
import AboutMe from "@/components/index/AboutMe.astro";
import WorkExperience from "@/components/index/WorkExperience.astro";
import Projects from "@/components/index/Projects.astro";
---

<Layout>
  <div>
    <div
      class="px-4 sm:px-6 lg:px-8 relative max-w-3xl mx-auto pt-62 pb-18 flex flex-col justify-center items-center"
    >
      <Hero />
      <AboutMe />
      <hr class="w-full mx-auto my-32 border-t border-gray-300" />
      <WorkExperience />
      <hr class="w-full mx-auto my-32 border-t border-gray-300" />
      <Projects />
    </div>
  </div>
</Layout>
