<footer class="py-14 bg-[#FEFEFE] dark:bg-[#2f3033] text-[#5E5F65] dark:text-[#ebeaea]">

  <div class="max-w-[800px] mx-auto">
    <hr class="mb-20 border-gray-300" />

    <div class="flex flex-col items-center">
      <p>Copyright © 2025 ~ By Eric Luna 🌙</p>
      <p class="font-bold">All rights reserved</p>
    </div>
  </div>

</footer>
