---
const Icon = "/assets/images/foto.jpg";
---

<div
  class="sm:px-6 lg:px-8 relative mx-auto flex flex-col justify-center px-4 gap-8"
>
  <img
    alt="Eric Profile"
    width="96"
    height="96"
    decoding="async"
    data-nimg="1"
    class="w-30 h-30 rounded-full object-cover"
    style="color:transparent"
    src={Icon}
  />
  
  <div
    class="flex flex-col gap-4 text-left"
    style="opacity: 1; transform: none;"
  >
    <h1
      class="text-3xl md:text-4xl lg:text-5xl font-bold leading-tight text-[#3a3b3e] dark:text-[#FEFEFE]"
    >
      Hii, I'm Eric! SysAdmin & CyberSecurity nerd.
    </h1>
    <p class="text-base md:text-lg font-normal leading-relaxed">
      Threats don't care about job titles. I speak networks and code so your
      system stays secured and monitored.
    </p>
  </div>

</div>
