<div
  class="sm:px-6 lg:px-8 relative mx-auto flex flex-col justify-center px-4 gap-8 w-full"
>
  <h2
    class="text-xl md:text-2xl lg:text-3xl font-bold leading-tight lg:leading-[1.15] w-full text-[#3a3b3e] dark:text-[#FEFEFE]"
  >
    Work Experience
  </h2>

  <div class="flex justify-between w-full items-center">
    <p class="text-base md:text-lg leading-relaxed">Jul 2024 - Present</p>
    <div
      class="text-base md:text-lg font-normal leading-relaxed w-fit flex items-center gap-3"
    >
      SysAdmin at <a
        href="https://www.grameimpuls.cat/"
        target="_blank"
        class="rounded-xl p-2 font-light ml-1 bg-[#7A87DB] hover:bg-[#6d78c2] text-[#FEFEFE] flex content-between items-center gap-2 px-2.5 transition-all duration-300 ease-in-out hover:scale-105"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="17"
          height="17"
          viewBox="0 0 17 17"
          fill="none"
        >
          <path
            d="M9.80743 12.2292L7.4966 14.5395C6.82568 15.1924 5.92465 15.5549 4.98844 15.5486C4.05223 15.5423 3.15613 15.1678 2.49403 14.506C1.83192 13.8442 1.45704 12.9484 1.45051 12.0124C1.44397 11.0764 1.8063 10.1755 2.4591 9.50452L4.76993 7.19205C4.90276 7.05915 4.97735 6.87894 4.97728 6.69106C4.97722 6.50318 4.9025 6.32302 4.76958 6.19022C4.63665 6.05742 4.4564 5.98284 4.26848 5.98291C4.08056 5.98298 3.90036 6.05768 3.76753 6.19057L1.4574 8.50304C0.523912 9.4368 -0.000331984 10.7031 1.57728e-07 12.0233C0.000332299 13.3435 0.525213 14.6095 1.45917 15.5428C2.39314 16.4761 3.65967 17.0002 4.98016 16.9999C6.30065 16.9995 7.56693 16.4748 8.50042 15.541L10.8113 13.2307C10.9403 13.0971 11.0117 12.9182 11.0101 12.7325C11.0085 12.5468 10.934 12.3691 10.8026 12.2378C10.6713 12.1065 10.4936 12.032 10.3079 12.0304C10.1221 12.0288 9.94317 12.1002 9.80956 12.2292H9.80743Z"
            fill="#FEFEFE"></path>
          <path
            d="M15.545 1.45974C15.084 0.995701 14.5355 0.627734 13.9312 0.377163C13.327 0.126593 12.679 -0.00159816 12.0249 1.74521e-05C11.371 -0.00171901 10.7234 0.126143 10.1193 0.376211C9.51521 0.626279 8.9667 0.993591 8.50548 1.45691L6.19111 3.76797C6.05818 3.90077 5.98346 4.08093 5.9834 4.26881C5.98333 4.45669 6.05792 4.6369 6.19075 4.7698C6.32358 4.9027 6.50378 4.9774 6.6917 4.97746C6.87962 4.97753 7.05987 4.90296 7.1928 4.77015L9.50576 2.45981C9.83556 2.12809 10.2279 1.86508 10.6601 1.686C11.0922 1.50692 11.5556 1.41534 12.0234 1.41654C12.7278 1.41677 13.4163 1.62578 14.0018 2.01714C14.5874 2.40851 15.0437 2.96465 15.3132 3.61528C15.5826 4.2659 15.6531 4.9818 15.5157 5.67246C15.3783 6.36313 15.0391 6.99755 14.5411 7.49554L12.2303 9.80589C12.0974 9.93879 12.0227 10.119 12.0227 10.307C12.0227 10.4949 12.0974 10.6752 12.2303 10.8081C12.3632 10.941 12.5435 11.0156 12.7315 11.0156C12.9195 11.0156 13.0998 10.941 13.2327 10.8081L15.5435 8.49915C16.4758 7.56502 16.9995 6.29936 16.9998 4.97974C17.0001 3.66011 16.4769 2.39425 15.545 1.45974Z"
            fill="#FEFEFE"></path>
          <path
            d="M10.1249 5.87362L5.87447 10.1232C5.80681 10.1885 5.75284 10.2667 5.71572 10.3531C5.67859 10.4395 5.65905 10.5324 5.65823 10.6265C5.65741 10.7205 5.67534 10.8138 5.71096 10.9008C5.74658 10.9879 5.79918 11.0669 5.86569 11.1334C5.93221 11.1999 6.0113 11.2525 6.09836 11.2881C6.18542 11.3237 6.27871 11.3417 6.37277 11.3409C6.46683 11.34 6.55979 11.3205 6.64622 11.2834C6.73265 11.2463 6.81082 11.1923 6.87616 11.1247L11.1266 6.8751C11.2557 6.74152 11.3271 6.56261 11.3255 6.37691C11.3238 6.19121 11.2493 6.01357 11.118 5.88225C10.9866 5.75093 10.809 5.67645 10.6232 5.67483C10.4375 5.67322 10.2585 5.74461 10.1249 5.87362Z"
            fill="#FEFEFE"></path>
        </svg> Grameimpuls</a
      >
    </div>
  </div>

  <div class="flex justify-between w-full items-center">
    <p class="text-base md:text-lg leading-relaxed">Oct 2022 - Mar 2023</p>
    <div
      class="text-base md:text-lg font-normal leading-relaxed w-fit flex items-center gap-3"
    >
      Software Developer at <a
        href="https://www.weecover.com/"
        target="_blank"
        class="rounded-xl p-2 font-light ml-1 bg-[#7A87DB] hover:bg-[#6d78c2] text-[#FEFEFE] flex content-between items-center gap-2 px-2.5 transition-all duration-300 ease-in-out hover:scale-105"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="17"
          height="17"
          viewBox="0 0 17 17"
          fill="none"
        >
          <path
            d="M9.80743 12.2292L7.4966 14.5395C6.82568 15.1924 5.92465 15.5549 4.98844 15.5486C4.05223 15.5423 3.15613 15.1678 2.49403 14.506C1.83192 13.8442 1.45704 12.9484 1.45051 12.0124C1.44397 11.0764 1.8063 10.1755 2.4591 9.50452L4.76993 7.19205C4.90276 7.05915 4.97735 6.87894 4.97728 6.69106C4.97722 6.50318 4.9025 6.32302 4.76958 6.19022C4.63665 6.05742 4.4564 5.98284 4.26848 5.98291C4.08056 5.98298 3.90036 6.05768 3.76753 6.19057L1.4574 8.50304C0.523912 9.4368 -0.000331984 10.7031 1.57728e-07 12.0233C0.000332299 13.3435 0.525213 14.6095 1.45917 15.5428C2.39314 16.4761 3.65967 17.0002 4.98016 16.9999C6.30065 16.9995 7.56693 16.4748 8.50042 15.541L10.8113 13.2307C10.9403 13.0971 11.0117 12.9182 11.0101 12.7325C11.0085 12.5468 10.934 12.3691 10.8026 12.2378C10.6713 12.1065 10.4936 12.032 10.3079 12.0304C10.1221 12.0288 9.94317 12.1002 9.80956 12.2292H9.80743Z"
            fill="#FEFEFE"></path>
          <path
            d="M15.545 1.45974C15.084 0.995701 14.5355 0.627734 13.9312 0.377163C13.327 0.126593 12.679 -0.00159816 12.0249 1.74521e-05C11.371 -0.00171901 10.7234 0.126143 10.1193 0.376211C9.51521 0.626279 8.9667 0.993591 8.50548 1.45691L6.19111 3.76797C6.05818 3.90077 5.98346 4.08093 5.9834 4.26881C5.98333 4.45669 6.05792 4.6369 6.19075 4.7698C6.32358 4.9027 6.50378 4.9774 6.6917 4.97746C6.87962 4.97753 7.05987 4.90296 7.1928 4.77015L9.50576 2.45981C9.83556 2.12809 10.2279 1.86508 10.6601 1.686C11.0922 1.50692 11.5556 1.41534 12.0234 1.41654C12.7278 1.41677 13.4163 1.62578 14.0018 2.01714C14.5874 2.40851 15.0437 2.96465 15.3132 3.61528C15.5826 4.2659 15.6531 4.9818 15.5157 5.67246C15.3783 6.36313 15.0391 6.99755 14.5411 7.49554L12.2303 9.80589C12.0974 9.93879 12.0227 10.119 12.0227 10.307C12.0227 10.4949 12.0974 10.6752 12.2303 10.8081C12.3632 10.941 12.5435 11.0156 12.7315 11.0156C12.9195 11.0156 13.0998 10.941 13.2327 10.8081L15.5435 8.49915C16.4758 7.56502 16.9995 6.29936 16.9998 4.97974C17.0001 3.66011 16.4769 2.39425 15.545 1.45974Z"
            fill="#FEFEFE"></path>
          <path
            d="M10.1249 5.87362L5.87447 10.1232C5.80681 10.1885 5.75284 10.2667 5.71572 10.3531C5.67859 10.4395 5.65905 10.5324 5.65823 10.6265C5.65741 10.7205 5.67534 10.8138 5.71096 10.9008C5.74658 10.9879 5.79918 11.0669 5.86569 11.1334C5.93221 11.1999 6.0113 11.2525 6.09836 11.2881C6.18542 11.3237 6.27871 11.3417 6.37277 11.3409C6.46683 11.34 6.55979 11.3205 6.64622 11.2834C6.73265 11.2463 6.81082 11.1923 6.87616 11.1247L11.1266 6.8751C11.2557 6.74152 11.3271 6.56261 11.3255 6.37691C11.3238 6.19121 11.2493 6.01357 11.118 5.88225C10.9866 5.75093 10.809 5.67645 10.6232 5.67483C10.4375 5.67322 10.2585 5.74461 10.1249 5.87362Z"
            fill="#FEFEFE"></path>
        </svg>Weecover</a
      >
    </div>
  </div>

  <div class="flex justify-between w-full items-center">
    <p class="text-base md:text-lg leading-relaxed">Oct 2020 - Apr 2021</p>
    <div
      class="text-base md:text-lg font-normal leading-relaxed w-fit flex items-center gap-3"
    >
      IT Technician at <a
        target="_blank"
        href="https://www.google.es/maps/@41.4520038,2.2046298,3a,21.5y,165.66h,85.26t/data=!3m7!1e1!3m5!1sYC6rI-hUi6vtHNnNUNvplQ!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fcb_client%3Dmaps_sv.tactile%26w%3D900%26h%3D600%26pitch%3D4.7410863792527635%26panoid%3DYC6rI-hUi6vtHNnNUNvplQ%26yaw%3D165.65615535988977!7i16384!8i8192?hl=es&entry=ttu&g_ep=EgoyMDI1MDcwOS4wIKXMDSoASAFQAw%3D%3D"
        class="rounded-xl p-2 font-light ml-1 bg-[#7A87DB] hover:bg-[#6d78c2] text-[#FEFEFE] flex content-between items-center gap-2 px-2.5 transition-all duration-300 ease-in-out hover:scale-105"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="17"
          height="17"
          viewBox="0 0 17 17"
          fill="none"
        >
          <path
            d="M9.80743 12.2292L7.4966 14.5395C6.82568 15.1924 5.92465 15.5549 4.98844 15.5486C4.05223 15.5423 3.15613 15.1678 2.49403 14.506C1.83192 13.8442 1.45704 12.9484 1.45051 12.0124C1.44397 11.0764 1.8063 10.1755 2.4591 9.50452L4.76993 7.19205C4.90276 7.05915 4.97735 6.87894 4.97728 6.69106C4.97722 6.50318 4.9025 6.32302 4.76958 6.19022C4.63665 6.05742 4.4564 5.98284 4.26848 5.98291C4.08056 5.98298 3.90036 6.05768 3.76753 6.19057L1.4574 8.50304C0.523912 9.4368 -0.000331984 10.7031 1.57728e-07 12.0233C0.000332299 13.3435 0.525213 14.6095 1.45917 15.5428C2.39314 16.4761 3.65967 17.0002 4.98016 16.9999C6.30065 16.9995 7.56693 16.4748 8.50042 15.541L10.8113 13.2307C10.9403 13.0971 11.0117 12.9182 11.0101 12.7325C11.0085 12.5468 10.934 12.3691 10.8026 12.2378C10.6713 12.1065 10.4936 12.032 10.3079 12.0304C10.1221 12.0288 9.94317 12.1002 9.80956 12.2292H9.80743Z"
            fill="#FEFEFE"></path>
          <path
            d="M15.545 1.45974C15.084 0.995701 14.5355 0.627734 13.9312 0.377163C13.327 0.126593 12.679 -0.00159816 12.0249 1.74521e-05C11.371 -0.00171901 10.7234 0.126143 10.1193 0.376211C9.51521 0.626279 8.9667 0.993591 8.50548 1.45691L6.19111 3.76797C6.05818 3.90077 5.98346 4.08093 5.9834 4.26881C5.98333 4.45669 6.05792 4.6369 6.19075 4.7698C6.32358 4.9027 6.50378 4.9774 6.6917 4.97746C6.87962 4.97753 7.05987 4.90296 7.1928 4.77015L9.50576 2.45981C9.83556 2.12809 10.2279 1.86508 10.6601 1.686C11.0922 1.50692 11.5556 1.41534 12.0234 1.41654C12.7278 1.41677 13.4163 1.62578 14.0018 2.01714C14.5874 2.40851 15.0437 2.96465 15.3132 3.61528C15.5826 4.2659 15.6531 4.9818 15.5157 5.67246C15.3783 6.36313 15.0391 6.99755 14.5411 7.49554L12.2303 9.80589C12.0974 9.93879 12.0227 10.119 12.0227 10.307C12.0227 10.4949 12.0974 10.6752 12.2303 10.8081C12.3632 10.941 12.5435 11.0156 12.7315 11.0156C12.9195 11.0156 13.0998 10.941 13.2327 10.8081L15.5435 8.49915C16.4758 7.56502 16.9995 6.29936 16.9998 4.97974C17.0001 3.66011 16.4769 2.39425 15.545 1.45974Z"
            fill="#FEFEFE"></path>
          <path
            d="M10.1249 5.87362L5.87447 10.1232C5.80681 10.1885 5.75284 10.2667 5.71572 10.3531C5.67859 10.4395 5.65905 10.5324 5.65823 10.6265C5.65741 10.7205 5.67534 10.8138 5.71096 10.9008C5.74658 10.9879 5.79918 11.0669 5.86569 11.1334C5.93221 11.1999 6.0113 11.2525 6.09836 11.2881C6.18542 11.3237 6.27871 11.3417 6.37277 11.3409C6.46683 11.34 6.55979 11.3205 6.64622 11.2834C6.73265 11.2463 6.81082 11.1923 6.87616 11.1247L11.1266 6.8751C11.2557 6.74152 11.3271 6.56261 11.3255 6.37691C11.3238 6.19121 11.2493 6.01357 11.118 5.88225C10.9866 5.75093 10.809 5.67645 10.6232 5.67483C10.4375 5.67322 10.2585 5.74461 10.1249 5.87362Z"
            fill="#FEFEFE"></path>
        </svg>MJC Asesores</a
      >
    </div>
  </div>
</div>
