<!doctype html>
<html lang="en" >
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌙</text></svg>"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <title>Eric Luna | SysAdmin & Cybersecurity</title>
    <meta
      name="description"
      content="Portfolio personal - Soluciones de infraestructura segura y documentada"
    />

    <meta property="og:title" content="Eric Luna | SysAdmin & Cybersecurity" />
    <meta property="og:description" content="My personal portfolio :)" />
    <meta property="og:type" content="website" />
    <script src="../../public/test.js" defer></script>
  </head>

  <slot />
</html>

<style>
  :root {
    font-family: "Inter Variable", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
  }
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

</style>
